<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <base href="{{ site.baseurl }}">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}">
  <link rel="apple-touch-icon" href="{{ site.url }}/upload/logo.png">
  <link rel="icon" type="image/png" href="{{ site.url }}/upload/logo.png">

  <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
  <meta name="application-name" content="{{ site.title }}">

  <meta name="theme-color" content="#000000">

  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:site_name" content="{{ site.title }}">

  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:image" content="{{ site.url }}/upload/logo.png">
  <meta name="yandex-verification" content="8b38b81ac991673b" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/forestryio/ubuild-blocks@1.0.0/dist/css/ubuild.css" />
  <style>
    .block-header-2 {
      padding: 0.2rem 2rem;
    }

    .block-header-2--logo img {
      max-height: 24px;
      max-height: 3rem;
    }
  </style>
</head>

<body>
